.errorimg {
    text-align: center;
    margin: auto;
}

.errorimg img {

    margin-top: 200px;
}

.btn {
    width: 164px;
    height: 62px;
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(211deg, #009688, #757575);
    border-radius: 9px;
}